body{
    
    font-family:sans-serif;
    background-color: antiquewhite;
    color: #333;
}
.container{
    
    margin:auto;
    width:70%;
  
    text-align: left;
    border: 1px solid #ddd;
}
.container h1{
    font-size: 20px;
}
.cabecera{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background: #88f;
    color:White;
    margin: 0;
    padding: .5em;
}
.post{
    padding: 1em;
}