body{
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    color: #333;
}
.container{
    margin:auto;
    width:70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
}
.container h1{
    font-size: 20px;
}